<!doctype html>
<html lang="en">

<head>
    <title>Todo-list</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <style>
        h4 {
            display: inline-block;
            transform: rotate(7deg);
        }

        input {
            margin-bottom: 20px;
        }

        select {
            margin-top: 20px;
        }

        h5 {
            display: inline-block;
            transform: rotate(5deg);
        }

        label {
            display: inline;
        }

        select {
            transform: rotate(-7deg);

        }

        .main {
            margin-top: 30px;
        }
    </style>

</head>

<body>
    <div class="container" id="app">
        <div class="text-center p-2 mb-2 bg-danger text-white">
            <h1>Quản lý công việc</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="p-3 mb-2 bg-info text-white">Thêm công việc vào danh sách</h4>
                <div class="text-right">
                    <h5 v-if="test == true" class="text-success">Tạo mới thành công</h5>
                    <h5 v-else class="text-danger">Vui lòng điền đầy đủ</h5>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <label class="col-md-2 text-success" for="title">Tiêu đề</label>
                    <input id="title" class="col-md-10 form-control" v-model="title" type="text" placeholder="Tiêu đề" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <label class="col-md-2 text-success" for="description">Mô tả công việc</label>
                    <textarea id="description" v-model="description" rows="6" class="col-md-10 form-control" type="text" placeholder="Mô tả"
                        required></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">

                    <select v-model="priority" class="col-md-2  offset-md-7 custom-select" type="text" required>
                        <option value="" disabled>Độ ưu tiên</option>
                        <option class="text-success" v-for="pri in priorityAll">{{pri}}</option>
                    </select>
                    <select v-model="status" class="col-md-2 offset-md-1 custom-select" type="text" required>
                        <option value="" disabled>Trạng thái</option>
                        <option class="text-success" v-for="sta in statusAll">{{sta}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-danger" v-on:click="addJob">Thêm</button>
            </div>
            <label for="seach">Seach tên công việc</label>
            <input id="seach" type="text" class="form-control" v-model="seachJob" placeholder="Seach">
            <div class="container main">
                <table class="table">
                    <table id="myTable" class=" table table-hover container">
                        <thead class="text-center">
                            <th>#</th>
                            <th>Tiêu đề</th>
                            <th>Trạng thái</th>
                            <th>Độ ưu tiên</th>
                            <th>Mô tả</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr class="text-center" v-for="(job, index) in jobAll" v-if="job.active">
                                <td>{{ index +1 }}</td>
                                <td>{{job.title}}</td>
                                <td>{{job.status}}</td>
                                <td>{{job.priority}}</td>
                                <td>{{job.description}}</td>
                                <td>
                                    <button type="button" class="btn btn-success" data-toggle="modal" v-on:click="sttJob(index)" data-target="#exampleModal">Chỉnh sửa</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-success">
                                                    <h5 class="modal-title text-light" id="exampleModalLabel">Chỉnh sửa công việc</h5>
                                                </div>
                                                <div class="modal-body row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <label class="col-md-2" for="title2">Tiêu đề</label>
                                                            <input id="title2" class="col-md-9 form-control" v-model="editTitle" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <label class="col-md-2" for="description2">Mô tả</label>
                                                            <textarea id="description2" rows="6" class="col-md-9 form-control" v-model="editPriority" type="text"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <select v-model="editDescription" class="col-md-3  offset-md-4 custom-select" type="text">
                                                                <option value="" disabled>Ưu tiên</option>
                                                                <option v-for="pri in priorityAll">{{pri}}</option>
                                                            </select>
                                                            <select v-model="editStatus" class="col-md-3 offset-md-1 custom-select" type="text">
                                                                <option value="" disabled>Trạng thái</option>
                                                                <option v-for="sta in statusAll">{{sta}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                                    <button type="button" class="btn btn-info" v-on:click="editJob">Lưu lại</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-info" v-on:click.lazy="deleteJob(index)">Xóa</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

    </div>



    <!-- <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyB4SXoiSdQ5zxq8gRV0O7dCdKw00khMG0E",
            authDomain: "todolist-vuejs-59689.firebaseapp.com",
            databaseURL: "https://todolist-vuejs-59689.firebaseio.com",
            projectId: "todolist-vuejs-59689",
            storageBucket: "todolist-vuejs-59689.appspot.com",
            messagingSenderId: "1058921195389"
        };
        firebase.initializeApp(config);
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                title: '',
                status: '',
                priority: '',
                description: '',
                editTitle: '',
                editStatus: '',
                editPriority: '',
                editDescription: '',
                sttNumber: '',
                seachJob: '',
                test: false,
                jobAll: [
                    { title: 'HTML', status: 'Hoàn thành', description: 'Đã ra phiên bản HTML5', priority: 'D', active: true },
                    { title: 'CSS', status: 'Hoàn thành', description: 'Đã ra phiên bản CSS3', priority: 'C', active: true },
                    { title: 'Javascript', status: 'Chưa hoàn thành', description: 'Đã ra phiên bản ES8', priority: 'A', active: true },
                    { title: 'Bootstrap', status: 'Chưa hoàn thành', description: 'Đã ra phiên bản 4.1', priority: 'C', active: true },
                    { title: 'Vuejs', status: 'Chưa hoàn thành', description: 'Vẫn đang ngáo', priority: 'A+', active: true }
                ],
                priorityAll: [
                    'A+', 'A', 'B', 'C', 'D'
                ],
                statusAll: [
                    'Hoàn thành', 'Chưa hoàn thành'
                ]
            },
            methods: {
                addJob: function () {
                    let objectJob = {};
                    objectJob.title = this.title;
                    objectJob.status = this.status;
                    objectJob.priority = this.priority;
                    objectJob.description = this.description;
                    if (objectJob.title == '' || objectJob.status == '' || objectJob.priority == '' || objectJob.description == '') {
                        return this.test = false;
                    } else {
                        this.jobAll.push(objectJob);
                        return this.test = true;
                    }
                },
                deleteJob: function (stt) {
                    this.jobAll.splice(stt, 1);
                },
                sttJob: function (stt) {
                    this.sttNumber = stt;
                    this.editTitle = this.jobAll[this.sttNumber].title;
                    this.editStatus = this.jobAll[this.sttNumber].status;
                    this.editPriority = this.jobAll[this.sttNumber].description;
                    this.editDescription = this.jobAll[this.sttNumber].priority;
                },
                editJob: function () {
                    if (this.editTitle != '') {
                        this.jobAll[this.sttNumber].title = this.editTitle;
                        this.editTitle = '';
                    }
                    if (this.editStatus != '') {
                        this.jobAll[this.sttNumber].status = this.editStatus;
                        this.editStatus = '';
                    }
                    if (this.editPriority != '') {
                        this.jobAll[this.sttNumber].description = this.editPriority;
                        this.editPriority = '';
                    }
                    if (this.editDescription != '') {
                        this.jobAll[this.sttNumber].priority = this.editDescription;
                        this.editDescription = '';
                    }
                    $('#exampleModal').modal('hide');

                }
            },
            watch: {
                seachJob: _.debounce(function (seachJob) {
                    var vm = this;
                    setTimeout(function () {
                        vm.jobAll.forEach(function (element) {
                            var keyword = element.title.indexOf(vm.seachJob);
                            if (keyword < 0) {
                                return element.active = false;
                            }
                        });
                    }, 1000);
                    if (vm.seachJob == '') {
                        setTimeout(function () {
                            vm.jobAll.forEach(function (e) {
                                e.active = true;
                            })
                        }, 1000);
                    }
                })
            }
        })

    </script>

</body>

</html>