<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Component 3</title>
</head>

<body>
    <template id="hello-template">
        <div>
            <h1> {{message}} {{userName}} </h1>
        </div>
    </template>

    <div id="app">
                   <hello-component ></hello-component>
    </div>


    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script>
        Vue.component('hello-component', {
            data: function () {
                return {
                    message: 'Xin chào'
                }
            },
            props: ['userName'],
            template: '#hello-template'
        })
        new Vue({
            el: '#app',
            data: {
                userName: 'Tuấn'
            }
        })
    </script>
</body>

</html>